.auth-page {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.auth-container {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 450px;
}

.auth-header {
    text-align: center;
    margin-bottom: 32px;
}

.auth-logo {
    font-size: 32px;
    font-weight: 300;
    font-family: sans-serif;
    color : #667eea;
    margin-bottom: 8px;
    cursor: pointer;
}

auth-subtitle {
    font-size: 16px;
    color: #6b7280;
}

.auth-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.auth-error {
    background: #fee2e2;
    color: #dc2626;
    padding: 12px;
    border-radius: 6px;
    font-size: 14px;
    text-align: center;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.form-group label {
    font-size: 14px;
    font-weight: 500;
    color: #374151;
}

.form-group input {
    padding: 12px 16px;
    border: 1px solid #d1d5db;
    border-radius: 8px;
    font-size: 14px;
    transition: border-color 0.3s;
}

.form-group input:focus {
    border-color: #667eea;
    outline: none;
    box-shadow: 0 0 0 3px rgba(102, 126, 234, 0.3);
}

.auth-btn {
    background-color: #667eea;
    color: #ffffff;
    padding: 14px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 8px;
}

.auth-btn :hover {
    background: #5568d3;
}

.auth-btn:disabled {
    background: #9ca3af;
    cursor: not-allowed;
}

.auth-footer{
    text-align: center;
    margin-top: 24px;
    font-size: 14px;
    color: #6b7280;
}

.auth-footer a {
    color: #667eea;
    text-decoration: none;
    font-weight: 600;
}

.auth-footer a:hover {
    text-decoration: underline;
}

@media (max-width: 480px){
    .auth-container {
        padding: 24px;
    }
}